﻿@model List<ChemiClean.Models.Product>
@{
    Layout = null;
}
@foreach (var product in Model)
{
<tr>
    <td>@product.Name</td>
    <td>@product.SupplierName</td>
    <td><a href="@product.Url" target="_blank"><span><i class="glyphicon glyphicon-search"></i></span></a></td>
    <td><a class="previewLocalCopy" href="#" data-id="@product.Id"><span><i class="glyphicon glyphicon-search"></i></span></a></td>
    <td><a class="downloadLocalCopy" href="#" data-id="@product.Id"><span><i class="glyphicon glyphicon-download-alt"></i></span></a></td>
    <td>
        @{
            if (product.DataSheet == null && product.Availability == null)
            {
                <span class="label">No local Copy</span>
            }
            else
            {
                if (product.Availability.Value)
                {
                    <span class="label label-success">Available</span>
                }
                else
                {
                    <span class="label label-important">Not Available</span>
                }
            }
        }
    </td>
    <td>
        @if (product.ContentChanged)
        {
            <span><i class="glyphicon glyphicon-ok"></i></span>
        }
        else
        {
            <span><i class="glyphicon glyphicon-remove"></i></span>
        }
    </td>
</tr>
}
