﻿@model List<ChemiClean.Models.Product>
@{
    ViewBag.Title = "DataSheet";
}
<h2>DataSheet</h2>
<div class="pull-right"><button id="downloadAll" class="btn btn-primary">Download all</button></div>
<div    id="waitMeContainer">
    <div class="container">
        <div class="row">
            <div class="">
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Supplier Name</th>
                            <th>Preview Url</th>
                            <th>Preview Local Copy</th>
                            <th>Download Local Copy</th>
                            <th>Availability</th>
                            <th>Content Changed</th>
                        </tr>
                    </thead>
                    <tbody id="divProductsList">
                        @{Html.RenderPartial("_ProductsList", Model);}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ChemiClean.js"></script>